html,
body {
    height: 100%;
    background: #0B1616;
}
/************************* Modal *************************/
.lienModal{
    display: block;
}
.infosModal i{
    color: #0B1616;
    position: absolute; 
    margin-left: 15px;
}
.modal-header, .modal-header h2{
    background-color: #1560BD;
    text-align: center;
    color: #F0C300 !important;
}
.modal-body h3, .modal-body p{
    color: #0B1616 !important;
}
.modal-content img{
    width: 100%;
}
.modal-content p{
    text-align: justify;
}
.modal-content blockquote{
    font-style: italic;
}
.modal-footer .btn-primary{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:  #1560BD;
}
.langages{
    display: inline-block;
}
#imgBookMe, 
#imgChallengeMe,
#imgCdfRobotique,
#imgPokebattle,
#imgCommandeRobot{
    border: 1px solid #0B1616;
    border-radius: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:45%; 
    height: 35%;
}
#imgGeeps{
    border: 1px solid #0B1616;
    border-radius: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;     
}
#swiftLogo,
.appinventorLogo,
#djangoLogo,
#htmlLogo,
#cssLogo{
    max-width: 30px; 
    height: 30px; 
    margin-bottom: 8px; 
    margin-left: 15px;
}
#bootstrapLogo{
    width: 45px; 
    height: 45px; 
    margin-bottom: 8px; 
    margin-left: 15px;
}
#androidLogo{
    width: 50px; 
    height: 50px; 
    margin-bottom: 8px; 
    margin-left: 15px;
}
#cSharpLogo{
    width: 30px; 
    height: 30px; 
    margin-bottom: 8px; 
    margin-left: 15px;
}
#pige{
    color: #1560BD;
}
#pige:hover{
    color: #F0C300;
}
/************************* Navigation *************************/
.navbar{
    background-color: #1560BD;
}
#btnNav{
    background-color: #1560BD;
    border: none;
}
#myNav{
    float: right;
}
#myNav a{
    color: white;
    font-family: 'Rubik', serif;
    font-size: 16px;
}
#myNav a:hover{ /* Lien selectionné dans le nav */
    color: #F0C300;
}
.navbar-header span{ /* "Geogeo qui dev" */
    font-family: 'Lobster', 'cursive';
    color: #F0C300;
    font-size: 35px;
}
.navbar .navbar-nav > .active > a, /* scroll-spy color change */
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus{
    color: white !important;
    background: #318CE7;
}
.dropdown-menu{
    background-color: #1560BD;
}
.dropdown a:focus,
.dropdown-menu a:hover{
    background-color: #318CE7 !important;
}

/************************* General (content) *************************/
#pageContent{
    padding-top: 50px;
}
section{
    width: 100%;
    left: 0;
    right: 0;
}
section p,
.modal-content p
{
    font-family: 'Questrial', 'sans-serif';
    font-size: 17px;
    color: #FEFEFE;
}
section h1,
section h2,
section h3,
.modal-content h2,
.modal-content h3,
.modal-content h4
{
    font-family: 'Rubik', sans-serif;
    color: #FEFEFE;
}

h1{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.lineTitle{
    width: 50%;
    height: 8px;
    margin-left: auto; /* alignement horizontale grace au 2 margins*/ 
    margin-right: auto;
    background-color: #F0C300;
    color: #F0C300;
    border: 0 none;
}

.fa{ /* Postion icone de chaque partie */
    float: left;
    color: #FEFEFE;
}
/************************* Presentation *************************/
#presentation{   
    margin-left: auto;
    margin-right: auto;
}

#quiSuisJe{ 
    width: 70%;
    margin-left: 15%;
}
#quiSuisJe h2{
    text-align: center;
}
#quiSuisJe p{
    text-align: justify;
}
#prism{
    font-weight: bold;
    text-decoration: none;
    color: #F0C300;
}
#prism:hover{
    text-decoration: none;
    color: #1560BD;
}
.img-circle{ /* Photo de profil  */ 
    width: 200px;
    height: 200px;
    border: 1px solid #FEFEFE;
    display: block;
    margin: 0 auto;
}
#dlCV{
    font-family: 'Rubik', sans-serif;
    display: block;
    text-align: center;
}
#dlCV a{
    width: 150px;
    margin-top: 30px;
    background-color: #1560BD;
}

/************************* Competences *************************/
#competences{
    margin-left: auto;
    margin-right: auto;
}
#skillsLayout{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#competences h2{
    text-align: center;
}
.glyphicon-check{ /* Position de l'icone */
    float: left;
    color: #0B1616;
}
/* Animation */
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#FEFEFE;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
    width:110px;
	font-weight:bold;
	font-size:13px;
	color:#F0C300;
	background: #1560BD;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background: #1560BD;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#FEFEFE;
	color:rgba(0, 0, 0, 0.4);
} /* Fin animation */

/************************* Projets *************************/
#projets{
    margin-left: auto;
    margin-right: auto;
}
#projetLayout{
    width: 77%;
    margin: auto;
}
.container--box{
    padding: 1em 0;
    float: left;
    width: 50%;
}
.container--box .title{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.content--box {
    background:#1560BD;
    border-radius:5px;
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
.content--box .content-overlay {
    background: rgba(0,0,0,1);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.content--box:hover .content-overlay{
    opacity: 0.51;
}
.content-image{
    width: 100%;
}
.content-details {
    display: block;
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content--box:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
.content-details p{
    color: #fff;
    font-size: 1em;
}
.fadeIn-bottom{
    top: 80%;
}
/************************* Contact *************************/
#contact{
    margin-left: auto;
    margin-right: auto;
}
#formulaire{
    display: block;
    width: 76%;
    margin-left: auto;
    margin-right: auto;
}
textarea{
    resize: none;
}
#boutonEnvoyer button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #1560BD;
}
#succes,
#echec{
    width: 92%;
    margin-left: 4%;

}
#check{
    color: green !important;
    width: 30px;
    padding-top: 4px;
}
.dangerIcone{
    color: red !important;
    width: 30px;
    padding-top: 4px;  
}
#maps{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 72%;
    height: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/************************* Footer *************************/
footer {
    margin: 50px 0;
}
#textFooter p{
    font-weight: bold;
    color: #FEFEFE;
    text-align: center;
}

/************************* Media queries *************************/
@media (max-width: 768px) {
    /* General */
    h1{
        width: 100%;
        font-size: 2.1em;
    }
    h2{
        font-size: 1.8em;
    }
    .lineTitle{
        width: 100%;
    }

    /* Navigation */
    #myNav{
        float: none;
    }

    /* Presentation */
    #quiSuisJe{
        width: 100%;
        margin: 0;
    }
    #quiSuisJe h2{
        white-space: nowrap;
    }

    /* Competences */
    #skillsLayout{
        width: initial;
    }

    /* PROJETS */
    .card{
        width: 99%;
    }

    /* Contact */
    #formulaire{
        width: initial;
    }

}
@media screen and (max-width: 640px){
    #projetLayout{
        width: initial;
        margin: initial;
    }
    .container--box{
      display: block;
      width: 100%;
    }
  }

@media screen and (max-width: 992px){
    /*Nav police taille*/

    #myNav a{
        font-size: 14px;
    }

    .navbar-header span{ /* "Geogeo qui dev" */
        font-size: 24px;
    }
}