#Empeche l'acces aux dossiers 
order allow,deny
allow from all
options -indexes

# REDIRECTION TO HTTPS
RewriteEngine Off
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.geogeoquidev.fr/$1 [R=301,L]

#Pages d'erreurs
