#Empeche l'acces aux dossiers 
order allow,deny
allow from all
options -indexes

# REDIRECTION TO HTTPS
#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

#Pages d'erreurs
